<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="Microsoft.ApplicationInsights.NLogTarget" />
	</extensions>
	<targets>
		<target xsi:type="File" name="logfile" 
			fileName="/var/log/iotbridge/log_${shortdate}.json"
			maxArchiveFiles="10"
      		archiveAboveSize="20000000" >
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="environment" layout="${event-properties:item=Environment}" />
        		<attribute name="processId" layout="${event-properties:item=ProcessId}" />
        		<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=tostring}" />
				<attribute name="threadid" layout="${threadid}"/>
				<attribute name="logger" layout="${logger}" />
			</layout>
		</target>

		<target xsi:type="ApplicationInsightsTarget" name="insights">
			<layout xsi:type="JsonLayout">
        		<attribute name="time" layout="${longdate}" />
        		<attribute name="processId" layout="${event-properties:item=ProcessId}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=tostring}" />
			</layout>
			<instrumentationKey>cd40021c-40f4-4329-bbe2-c2adbcea0971</instrumentationKey>
			<contextproperty name="threadid" layout="${threadid}" />
		</target>

		<target name="email" xsi:type="Mail" 
                smtpServer="smtp.DomainName.com" 
                smtpAuthentication="Basic"
                smtpUsername="Username@DomainName.com"
                smtpPassword =""
                enableSsl="true"
                subject="NLog message from system X on ${machinename}" 
                to="Username@DomainName.com" 
                from="Username@DomainName.com"  />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Debug" writeTo="insights" />
	</rules>
</nlog>

